include _common.pug

html
    head
        include ym.pug
        script(type="text/javascript" src="js/index.js" async)
        link(href="css/index.css" rel="stylesheet")
        title Nikolai Mavrenkov
    body
        h1.index__title Nikolai Mavrenkov
        .index__contacts
            a(href='https://github.com/koluch/')
                img.index__logo(src='images/index/icon_github_black.svg')
            a(href='mailto:koluch@koluch.ru')
                img.index__logo(src='images/index/icon_email_black.svg')
            a(href='https://instagram.com/koluch_ru')
                img.index__logo(src='images/index/icon_instagram_black.svg')
            a(href='https://twitter.com/koluch_ru')
                img.index__logo(src='images/index/icon_twitter_black.svg')
            a(href='https://www.linkedin.com/in/nikolay-mavrenkov-5aab364b')
                img.index__logo(src='images/index/icon_linkedin_black.svg')
