@reset-global pc;

* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
}

a, a * {
    color: black;
}

.margin {
    &-v {
        &-1 { margin-top: var(--space-1);  margin-bottom: var(--space-1); }
        &-2 { margin-top: var(--space-2);  margin-bottom: var(--space-2); }
        &-3 { margin-top: var(--space-3);  margin-bottom: var(--space-3); }
        &-4 { margin-top: var(--space-4);  margin-bottom: var(--space-4); }
        &-5 { margin-top: var(--space-5);  margin-bottom: var(--space-5); }
        &-6 { margin-top: var(--space-6);  margin-bottom: var(--space-6); }
        &-7 { margin-top: var(--space-7);  margin-bottom: var(--space-7); }
        &-8 { margin-top: var(--space-8);  margin-bottom: var(--space-8); }
    }
}
