@import "_common.css";

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, .contacts, .menu {
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

h1 {
    margin-top: 2rem;
}

.contacts {
    > a:not(:last-child) {
        margin-right: 1rem;
    }
}
