@import "_common.css";

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index__contacts {
    > a:not(:last-child) {
        margin-right: 1rem;
    }
}

.index__title {
    font-weight: bolder;
    font-size: 34px;
    margin: 0;
    margin-bottom: 28px;
}

.index__logo {
    width: 24px;
}
