@import "_common.css";

body {
    align-items: center;
}

h1 {
    margin: 4rem 0;
}

h2 {
    margin: 0.5rem 0;
}

.content {
    max-width: 760px;
}

.project-group {
    display: flex;
}

.project {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1.5rem 0;
    max-width: 50%;

    &:first-child {
        padding-right: 3rem;
    }
    &:not(:first-child) {
        padding-left: 3rem;
    }

    &__title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    &__links {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 0.5rem;
        font-size: 0.75rem;
    }

    &__link {
        margin-right: 0.35rem;
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 16px;
        margin-right: 2px;

        &_border {
            border: 1px solid #efefef;
        }
    }

    &__description {
        margin: 0.25rem 0;
        line-height: 1.25em;
    }
}
