h1 {
  font-size: 32px;
  font-size: 2rem;
  margin: 32px 0;
  margin: 2rem 0;
}

.outer {
  display: table;
  width:100%;
  height:100%;
}

.middle {
  display: table-row;

}

.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.container {
  /*text-align: left;*/
  display: inline-block;
}

.contacts a {
  margin: 5px;
}