body {
    text-align: center;
}

.container {
    display: inline-block;
    text-align: left;
    max-width: 500px;
    margin: 2rem 0;
}

article {
    margin: 2rem 0;
}

article h1 {
    margin: 0.75rem 0;
}

article h1, article h1 * {
    font-size: 1rem;
}

article > div {
    line-height: 1.5rem;
}

article > div, article > div * {
    font-size: 0.75rem;
}