body {
    text-align: center;
}

.container {
    display: inline-block;
    text-align: left;
    max-width: 500px;
    margin: 32px 0;
    margin: 2rem 0;
}

article {
    margin: 0 0 40px 0;
    margin: 0 0 2.5rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

article > .favicon {
    min-width: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

article > .favicon > a {
    margin: 0 5px;
}

article > .desc {
    margin-left: 10px;
}

article > .desc h1 {
    margin: 0;
    line-height: 16px;
}

article > .desc h1, article h1 * {
}

article > .desc h1 img {
    vertical-align: bottom;
}

article > .desc h1 {
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}

article > .desc div, article > .desc div * {
    font-size: 12px;
    font-size: 0.75rem;
}

