* {
    font-family: Helvetica;
}

a {
    color: white;
}

.share_panel {
    margin: 0.5em 0em 2em;
}

.share_panel .widget {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.hidden {
    display: none !important;
}

.fix {
    position: fixed;
}

.pan {
    opacity: 0.5;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 15px;
    background-color: white;
}


.hcenter_wrapper {
    margin: auto;
    width: 100%;
    text-align: center;
}

.hcenter_wrapper > div {
    display: inline-block;
}

#game_state #stats {
    position: fixed;
    right: 30px;
    top: 40px;
    padding: 1em;
}

#game_state .message {
    top: 45%;
}

#game_state #mistakes_count {
    font-weight: bold;
}

#current_region_wrapper {
    top: 20px;
}


.message > div,
#current_region_wrapper > div
{
    font-size: 16pt;
    font-weight: bold;
    padding: 0.6em;
}

#correct_msg_wrapper {
}

#correct_msg_wrapper > div{
    top: 100px;
    color: rgb(0, 72, 0);
    background: rgb(91, 255, 8);
}

#wrong_msg_wrapper > div{
    background: rgb(255, 105, 105);
    color: rgb(93, 0, 0);
}

#next_level_msg_wrapper > div{
    background: rgb(0, 209, 255);
    color: rgb(20, 22, 105);
}



.modal * {

}

.modal {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: table;
    z-index: 9999;
}

.modal .modal_row {
    display: table-row;
}

.modal .modal_cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.modal .modal_body {
    max-width: 600px;
    text-align: center;
    margin: auto;
    border: 1px solid rgb(64, 64, 64);
    padding: 1em;
    background: rgba(98, 98, 98, 0.67);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

#modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.47);
    z-index: 9998;
}

h1 {
    padding: 0;
    margin: 0;   padding: 0;
    font-size: 18pt;
}

button {
    background: rgb(127, 127, 127);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    font-size: 16pt;
    color: white;
    /* margin: 10pt; */
    padding: 2pt 8pt;
}

div#finish_msg {
    margin: 2em 0em 0.25em;
    font-size: 14pt;
}

.fb_iframe_widget {
    display: block !important;
    position: static !important;
    width: 92px !important;
    height: 20px !important;

}

.fb_iframe_widget > span {
    min-width: 92px !important;
    display: block !important;
}

#fb_button_holder iframe {
    width: 92px !important;
    height: 20px !important;
}

#fb_share {
    border-radius: 2px;
    text-shadow: 0 -1px 0 #354c8c;
    background: #4c69ba;
    background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
    background: -webkit-linear-gradient(#4c69ba, #3b55a0);
    background: linear-gradient(#4c69ba, #3b55a0);
    border: none;
    -webkit-border-radius: 2px;
    color: #fff;
    cursor: pointer; /* font-weight: bold; */
    height: 20px; /* line-height: 20px; */
    padding: 0;
    text-shadow: 0 -1px 0 #354c8c;
    white-space: nowrap;
    letter-spacing: 0.5px;

}

#fb_share button {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y1/r/LVx-xkvaJ0b.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    background-position: 0 -42px;
    height: 20px;
    left: 0;
    position: relative;
    vertical-align: top;
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    outline: none;
    padding: 0;
    text-shadow: 0 -1px 0 #354c8c;
}

#fb_share > button > span {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y1/r/LVx-xkvaJ0b.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: block;
    height: 14px;
    width: 14px;
    background-position: 0 -42px;
    left: 0;
    vertical-align: top;
    margin: auto;
}

#fb_share > span {
    font-family: helvetica, arial, sans-serif;
    font-size: 11px;
    display: inline-block;
    margin-right: 4px;
    line-height: 21px;
}